:root{
  --bt-color:#4fa74f;
  --bg-color:#63738a;
  --card-color:#f2f3f7;
  --text-color: #727272;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
}
.conteiner{
  text-align: center;
  position: relative;
  background-color:var(--bg-color) 
}
.card-user{
  width: 570px;
  height: 606px;
  margin: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

.regist{
  max-width: 400px;
  min-height: 500px;
  border: 1px solid var(--card-color);
  border-radius: 5px;
  background-color:var(--card-color);
  margin: 0;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}
.title{
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 2rem;
  color: #636363;
}
.p{
  padding-bottom: 2em;
  color: var(--text-color);
}
.form{
  display: flex;
  flex-direction: column;
  


}
.form:nth-child(2){
   display: flex;

   
    
}
input{

  margin: 0.5em;
  padding: 10px;
}


