:root{
  --bt-color:#4fa74f;
  --bg-color:#63738a;
  --card-color:#f2f3f7;
  --text-color: #727272;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
}
.conteiner{
  text-align: center;
  position: relative;
  background-color:var(--bg-color) 
}
.card-user{
  width: 570px;
  height: 606px;
  margin: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

.regist{
  max-width: 400px;
  min-height: 500px;
  border: 1px solid var(--card-color);
  border-radius: 5px;
  background-color:var(--card-color);
  margin: 0;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}
.title{
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 2rem;
  color: #636363;
}
.p{
  padding-bottom: 2em;
  color: var(--text-color);
}
.form{
  display: flex;
  flex-direction: column;

}
.block-name {  
   display: flex;
   justify-content: space-between;
  
}
.last,
.name{
 max-width: 150px;
 padding: 10px;
 margin-bottom: 2em;
}
  input{
    padding: 10px;
    margin-bottom: 2em;
    border-radius:5px;
    border:0.5px solid var(--bg-color);
  }

.block-agreement{
  display: flex;
}
.p-agreement{
  margin-left:5px ;
  margin-right: 5px;
  color:var(--text-color);
}
a{
  color:var(--bt-color)
}
.button{
  color:var(--card-color);
  font-weight: bold;
  background-color: var(--bt-color);
  border:var(--bt-color)
}
.sing-in{
  margin: 0;
  padding: 1em;
  position: absolute;
  top: 96%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
 color: var(--card-color);
}
.link-sing{
  color: var(--card-color);
  text-decoration: underline ;
}

